/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  text-align: center;
  color: white;
}

.profile-pic {
  width: 170px;
  height: 190px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 20px;
  object-fit: cover;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.3rem;
}

/* Sections */
section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  border-left: 5px solid #333;
  padding-left: 10px;
}

/* About */
.about p {
  font-size: 1.1rem;
}

/* Projects */
.project-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.project-card h3 {
  margin-bottom: 10px;
}

/* Conta
