*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0f172a;
  color:#e2e8f0;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  background:rgba(15,23,42,0.9);
  backdrop-filter:blur(10px);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  z-index:1000;
}

.logo{
  font-weight:700;
  color:#38bdf8;
}

.nav-links{
  display:flex;
  list-style:none;
}

.nav-links li{
  margin-left:30px;
}

.nav-links a{
  text-decoration:none;
  color:#e2e8f0;
  transition:0.3s;
}

.nav-links a:hover,
.nav-links a.active{
  color:#38bdf8;
}

.menu-toggle{
  display:none;
  font-size:1.8rem;
  cursor:pointer;
  color:white;
}

/* HERO */
.hero{
  min-height:95vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding-top:120px;
}

.hero-inner{
  max-width:650px;
}

.image-wrapper{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

.profile-pic{
  width:240px;
  height:240px;
  border-radius:50%;
  object-fit:cover;
  object-position:center 15%;
  border:5px solid #38bdf8;
  box-shadow:0 0 40px rgba(56,189,248,0.6);
  transition:0.4s;
}

.profile-pic:hover{
  transform:scale(1.07);
  box-shadow:0 0 60px rgba(56,189,248,1);
}

.hero h1{
  font-size:3rem;
  margin-bottom:10px;
}

.subtitle{
  color:#94a3b8;
  margin-bottom:25px;
}

.btn{
  padding:12px 30px;
  background:#38bdf8;
  color:black;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

.btn:hover{
  background:#0ea5e9;
}

/* SECTION */
.section{
  padding:110px 20px;
  max-width:1100px;
  margin:auto;
  text-align:center;
}

.section h2{
  margin-bottom:50px;
  color:#38bdf8;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

/* CARD */
.card{
  background:#1e293b;
  padding:30px;
  border-radius:20px;
  transition:0.4s;
  border:1px solid #334155;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px #38bdf8;
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:0.8s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

/* FOOTER */
footer{
  background:#0f172a;
  text-align:center;
  padding:20px;
  color:#94a3b8;
}

/* RESPONSIVE */
@media(max-width:768px){
  .nav-links{
    position:absolute;
    right:0;
    top:70px;
    background:#1e293b;
    flex-direction:column;
    width:220px;
    display:none;
  }
  .nav-links.active{
    display:flex;
  }
  .menu-toggle{
    display:block;
  }
  .profile-pic{
    width:170px;
    height:170px;
  }
}